{
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 100,
	"endOfLine": "lf",
	"singleQuote": true,
	"proseWrap": "always",
	"bracketSpacing": true,
	"arrowParens": "always",
	"trailingComma": "none",
	"bracketSameLine": false,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": "*.component.html",
			"options": {
				"parser": "angular"
			}
		}
	]
}
