@let transitionMuted = initialLoading();
@let compactLayout = layoutContext().compact;
@let extendedLayout = layoutContext().extended;
@let collapsedLayout = layoutContext().collapsed;
@let transitionName = transitionNames().platformOutlet;

<div
	class="layout"
	[class]="{
		'layout-muted': transitionMuted,
		'layout-compact': compactLayout,
		'layout-extended': extendedLayout,
		'layout-collapsed': collapsedLayout
	}"
>
	<platform-header />
	<platform-sidebar />
	<div class="layout-content">
		<div class="layout-outlet" [style.view-transition-name]="transitionName">
			<router-outlet />
		</div>
	</div>
</div>
