@use 'sass:math';
@use 'abstracts' as *;

.container,
.container-fluid {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: math.div($gutter-x, 2);
	padding-right: math.div($gutter-x, 2);
}

@each $breakpoint, $container-width in $container-widths {
	@include media($breakpoint) {
		.container {
			max-width: $container-width;
		}
	}
}

.row {
	@include grid($columns: repeat($grid-columns, 1fr), $gap: $gutter-y $gutter-x);

	&.row-cols-auto {
		grid-template-columns: repeat(auto-fit, minmax(0, auto));
	}
}

.col {
	grid-column: span $grid-columns;
}

.col-auto {
	grid-column: auto;
	justify-self: start;
}

@for $index from 1 through $grid-columns {
	.col-#{$index} {
		grid-column: span #{$index};
	}
}

@each $breakpoint, $min-width in $breakpoints {
	@if $breakpoint != xs {
		@include media($breakpoint) {
			@for $index from 1 through $grid-columns {
				.col-#{$breakpoint}-#{$index} {
					grid-column: span #{$index};
				}
			}

			.col-#{$breakpoint} {
				grid-column: span $grid-columns;
			}
		}
	}
}

[dir='ltr'] {
	.row {
		direction: ltr;
	}

	@for $index from 1 through ($grid-columns - 1) {
		.offset-#{$index} {
			margin-left: math.percentage(math.div($index, $grid-columns));
		}
	}
}

[dir='rtl'] {
	.row {
		direction: rtl;
	}

	@for $index from 1 through ($grid-columns - 1) {
		.offset-#{$index} {
			margin-left: 0;
			margin-right: math.percentage(math.div($index, $grid-columns));
		}
	}
}

@for $index from 0 through 5 {
	.order-#{$index} {
		order: #{$index};
	}
}

.order-first {
	order: -1;
}

.order-last {
	order: 6;
}
