// .field-affix {
//     display: flex;
//     align-items: center;
//     &:has(.field-icon-lead) { --field-padding-left: 36px; }
//     &:has(.field-icon-tail) { --field-padding-right: 36px; }
//     &:has(.field-pending)   { --field-padding-right: 36px; }
// }
